html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

h1 {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    background-color: tan;
    border-radius: 5%;
    width: 50%;
    margin: 16px auto;
}

li h2 {
    margin: 16px auto;
    text-align: center;
}

li img {
    display: block;
    width: 300px;
    height: 300px;
    margin: 16px auto;
    padding-bottom: 20px;
}

li p {
    width: 50%;
    text-align: center;
    margin: 16px auto;
    font-weight: 500;
}